ion-content {
    --background: none;
    background-image: url('../../assets/images/praia.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

ion-list {
    // background-color: #d9e6f2;
    opacity: 0.9;
  }