ion-content {
    --background: none;
    background-image: url('../../assets/images/test3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

ion-card {
    // background-color: #d9e6f2;
    opacity: 0.9;
  }

h2 {
    color: antiquewhite;
}