ion-content {
    --background: none;
    background-image: url('../../assets/images/HD-wallpaper-rio-de-janeiro-br-city-rj-city-br.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
  
  ion-list {
    // background-color: #d9e6f2;
    opacity: 0.9;
  }

  ion-title {
    text-align: center;
  }