<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Parque Madureira</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
          <ion-img src="../../../assets/images/parquemadureiracrditoalexandremacieirariotur1.jpg"></ion-img>
          <ion-card-title>Parque Madureira</ion-card-title>
        </ion-card-header>
      
        <ion-card-content class="ion-text-justify">
          Situado nos fundos do Madureira Shopping entre as ruas Manuel Marquês e Conselheiro Galvão e próximo da TransCarioca,[5] possui uma ampla estrutura de lazer, onde contempla quadras para a prática de esportes populares no subúrbio como bocha e skate, ciclovias, bosques e riacho. tem também a Praça do Conhecimento, uma lan house pública e a Praça do Samba onde possui um formato circular com os símbolos das duas maiores escolas de samba tradicionais do Carnaval carioca: Império Serrano e a Portela, no chão.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-icon name="location-outline" slot="start"></ion-icon>
          <ion-label>Endereço</ion-label>
          <ion-button fill="outline" href="https://www.google.com/maps/place/Parque+Madureira/@-22.8578338,-43.3528308,17z/data=!3m1!4b1!4m6!3m5!1s0x996326b395687f:0xcb885c830a394e0c!8m2!3d-22.8578338!4d-43.3502559!16s%2Fg%2F12mb3pn8f?entry=ttu"
          target="_blank">Ver no Mapa</ion-button>
        </ion-item>
        <ion-card-content>
          R. Soares Caldeira, 115 - Madureira, Rio de Janeiro - RJ, 21351-140
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-icon name="time-outline" slot="start"></ion-icon>
          <ion-label>Horário de Funcionamento</ion-label>
        </ion-item>
        <ion-card-content>
          Terça-feira à domingo de 9h às 22h
        </ion-card-content>
      </ion-card>


</ion-content>
