<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Parque Lage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
          <ion-img src="../../../assets/images/parquelage.png"></ion-img>
          <ion-card-title>Parque Lage</ion-card-title>
        </ion-card-header>
      
        <ion-card-content class="ion-text-justify">
          Antigo engenho de açúcar na época do Brasil Colonial, suas terras se estendiam até as margens da atual Rodrigo de Freitas - conhecida pelos indígenas como Sacopenapã, ou "lagoa de raízes chatas" em Tupi-Guarani. Após 1660, passa a pertencer à família Rodrigo de Freitas Mello. Em meados do século XIX, um nobre inglês compra parte das terras, e contrata em 1840 o paisagista inglês John Tyndale para projetar um jardim de estilo romântico nos moldes das quintas europeias. 
          Em 1859, parte da fazenda passa a ser propriedade de Antônio Martins Lage.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-icon name="location-outline" slot="start"></ion-icon>
          <ion-label>Endereço</ion-label>
          <ion-button fill="outline" href="https://www.google.com/maps/place/Parque+Lage/@-22.9591641,-43.214473,17z/data=!4m10!1m2!2m1!1sparque+lage+maps!3m6!1s0x9bd5783c4b0e7f:0x24e4aac202dbc423!8m2!3d-22.9581535!4d-43.2116429!15sChBwYXJxdWUgbGFnZSBtYXBzkgEEcGFya-ABAA!16s%2Fm%2F03hm8hl?entry=ttu"
          target="_blank">Ver no Mapa</ion-button>
        </ion-item>
        <ion-card-content>
          R. Jardim Botânico, 414 - Jardim Botânico, Rio de Janeiro - RJ, 22461-000
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-icon name="time-outline" slot="start"></ion-icon>
          <ion-label>Horário de Funcionamento</ion-label>
        </ion-item>
        <ion-card-content>
          Funcionamento de 9h às 17h
        </ion-card-content>
        <ion-card-content>
          A área verde fica aberta para
          visitação de 8h às 18h.
        </ion-card-content>
      </ion-card>


</ion-content>
